.dropdown{
	
    display: inline;
   
}

/*.col-sm-4{
	display: inline-flex;
}*/

/*.boxOne{
	display: inline-block;
}

.form-group {
	width: 50%;
}*/

.footer{

	text-align: center;
}

main{
	padding-bottom: 30px;
}